.header {
  &__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1100px;
    padding: 60px 0 60px 0;
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 40px 0;

    // Hamburger Open Styles
    &.open {
      .header__toggle {
        > span:first-child {
          transform: rotate(45deg) translateY(10px);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg) translateY(-10px);
        }
      }
    }
  }

  nav {
    position: relative;
  }

  &__links {
    // Desktop Menu
    font-size: 12px;
    a {
      color: $darkBlue;
      text-decoration: none;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        color: $grayishBlue;
        cursor: pointer;
      }
    }
  }

  &__toggle {
    // Mobile Menu
    margin-left: auto;
    span {
      display: block;
      width: 26px;
      height: 4px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: center;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  opacity: 0;
  pointer-events: none;

  &__toggle-links {
    position: absolute;
    background-color: white;
    width: 320px;
    display: block;
    transform: translate(-94%, 45px);
    padding: 30px 0;
    border-radius: 5px;

    a {
      display: block;
      margin: 0;
      padding: 13.5px;
      text-decoration: none;
      color: $darkBlue;
      font-size: 15px;
      text-align: center;
    }
  }
}
