.main {
  &__desktop {
    position: relative;
    overflow: hidden;
    min-height: 34rem;
  }

  &__mobile {
    position: relative;
    overflow: hidden;
    min-height: 12rem;
  }
}

.main__desktop::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url('../assets/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%) translate(490px, -150px);
  z-index: -1;
}

.main__mobile::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url('../assets/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  transform: translate(-50%, -50%) translate(90px, -260px);
  z-index: -1;
}

.main__mobile::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url('../assets/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  transform: translate(-50%, -50%) translate(200px, 290px);
  z-index: -1;
}

.intro {
  &__desktop {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;

    &__picture {
      background-image: url(../assets/illustration-intro.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 525px;
      height: 500px;
      order: 2;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 1;
      width: 525px;
      height: 500px;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__picture {
      background-image: url(../assets/illustration-intro.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 320px;
      height: 320px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 30px;
    }
  }
}
