@media (max-width: 63.9375em) {
  .hide-for-mob {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desk {
    display: none;
  }
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.h1__desktop {
  font-size: 50px;
  font-weight: 600;
  color: hsl(228, 39%, 23%);
  margin: 20px 0 20px;
}
.h1__mobile {
  font-size: 35px;
  font-weight: 600;
  color: hsl(228, 39%, 23%);
  margin: 20px 0 10px;
}

.h2__desktop {
  font-size: 35px;
  font-weight: 600;
  color: hsl(228, 39%, 23%);
  margin-bottom: 28px;
  margin-top: 0;
}
.h2__mobile {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: hsl(228, 39%, 23%);
  margin: 20px 0 10px;
}

.h3__desktop {
  font-size: 14px;
  font-weight: 600;
  color: hsl(228, 39%, 23%);
  margin: 0;
}
.h3__mobile {
  font-size: 14px;
  font-weight: 600;
  color: hsl(228, 39%, 23%);
  margin: 0;
}

.p1__desktop {
  color: hsl(227, 12%, 61%);
  line-height: 25px;
  font-size: 16px;
  margin: 10px 0 30px;
  max-width: 350px;
}
.p1__mobile {
  color: hsl(227, 12%, 61%);
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0 30px;
  max-width: 300px;
}

.p2__desktop {
  color: hsl(227, 12%, 61%);
  font-size: 15.5px;
  line-height: 25px;
  margin: 10px 0 30px;
}
.p2__mobile {
  color: hsl(227, 12%, 61%);
  font-size: 13.5px;
  line-height: 25px;
  margin: 10px 0 30px;
}

.container {
  display: grid;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.common-page-grid-desktop {
  margin: 0 130px 0 170px;
  max-width: 1100px;
}

.common-page-grid-mobile {
  margin: 0 15px 0 15px;
  min-width: 330px;
}

.logo__desktop {
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 146px;
  background-size: contain;
}
.logo__mobile {
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 115px;
  background-size: contain;
}

.contact-button {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: hsl(12, 88%, 59%);
  border: none;
  border-radius: 25px;
  width: 135px;
  height: 43px;
  box-shadow: 0 8px 20px -5px hsl(12, 88%, 59%);
  position: relative;
  transition: background-color 300ms ease-in-out;
}
.contact-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 239, 235, 0.2);
  opacity: 0;
  transition: opacity 300ms ease;
}
.contact-button:hover::after {
  opacity: 1;
  cursor: pointer;
}

.contact-button-2 {
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  color: hsl(12, 88%, 59%);
  background-color: white;
  border: none;
  border-radius: 25px;
  width: 135px;
  height: 43px;
  position: relative;
  transition: color 300ms ease-in-out;
}
.contact-button-2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 239, 235, 0.3);
  opacity: 0;
  border: none;
  border-radius: 25px;
  transition: opacity 300ms ease;
  z-index: 9999;
}
.contact-button-2:hover::after {
  opacity: 1;
  cursor: pointer;
}

.header__desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1100px;
  padding: 60px 0 60px 0;
}
.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px 0;
}
.header__mobile.open .header__toggle > span:first-child {
  transform: rotate(45deg) translateY(10px);
}
.header__mobile.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header__mobile.open .header__toggle > span:last-child {
  transform: rotate(-45deg) translateY(-10px);
}
.header nav {
  position: relative;
}
.header__links {
  font-size: 12px;
}
.header__links a {
  color: hsl(228, 39%, 23%);
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 30px;
}
.header__links a:hover {
  color: hsl(227, 12%, 61%);
  cursor: pointer;
}
.header__toggle {
  margin-left: auto;
}
.header__toggle span {
  display: block;
  width: 26px;
  height: 4px;
  background-color: hsl(228, 39%, 23%);
  transition: all 300ms ease-in-out;
  transform-origin: center;
}
.header__toggle span:not(:last-child) {
  margin-bottom: 3px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  opacity: 0;
  pointer-events: none;
}
.overlay__toggle-links {
  position: absolute;
  background-color: white;
  width: 320px;
  display: block;
  transform: translate(-94%, 45px);
  padding: 30px 0;
  border-radius: 5px;
}
.overlay__toggle-links a {
  display: block;
  margin: 0;
  padding: 13.5px;
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-size: 15px;
  text-align: center;
}

.main__desktop {
  position: relative;
  overflow: hidden;
  min-height: 34rem;
}
.main__mobile {
  position: relative;
  overflow: hidden;
  min-height: 12rem;
}

.main__desktop::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url("../assets/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%) translate(490px, -150px);
  z-index: -1;
}

.main__mobile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url("../assets/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  transform: translate(-50%, -50%) translate(90px, -260px);
  z-index: -1;
}

.main__mobile::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url("../assets/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  transform: translate(-50%, -50%) translate(200px, 290px);
  z-index: -1;
}

.intro__desktop {
  display: flex;
  flex-direction: row;
  gap: 50px;
  position: relative;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.intro__desktop__picture {
  background-image: url(../assets/illustration-intro.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 525px;
  height: 500px;
  order: 2;
}
.intro__desktop__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  width: 525px;
  height: 500px;
}
.intro__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__mobile__picture {
  background-image: url(../assets/illustration-intro.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 320px;
}
.intro__mobile__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}

.about {
  position: relative;
  overflow: hidden;
}
.about__desktop-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}
.about__mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .product__desktop {
  width: 525px;
  height: 500px;
}
.about .product__desktop__description {
  max-width: 350px;
}
.about .product__mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 320px;
}
.about .product__mobile__description {
  max-width: 300px;
}
.about .opportunities__desktop {
  width: 525px;
  min-height: 500px;
}
.about .opportunities__mobile {
  width: 330px;
  min-height: 320px;
}
.about .opportunities__title__desktop-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.about .opportunities__title__mobile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.about .opportunities__title__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(12, 88%, 59%);
  height: 38px;
  width: 65px;
  border-radius: 20px;
  font-size: 15px;
  color: white;
}
.about .opportunities__text__desktop {
  margin-left: 95px;
  margin-bottom: 35px;
}
.about .opportunities__text__mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opportunities__title__mobile-container::before {
  content: "";
  position: absolute;
  left: 30px;
  background-color: hsl(13, 100%, 96%);
  height: 38px;
  width: -webkit-fill-available;
  z-index: -1;
}

.about__mobile-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url("../assets/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  transform: translate(-50%, -50%) translate(200px, -522px);
  z-index: -1;
}

.about__desktop-container:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url("../assets/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%) translate(-800px, 400px);
  z-index: -1;
}

.testimonial__desktop {
  display: inherit;
  place-items: center;
  margin-top: 40px;
  margin-bottom: 150px;
}
.testimonial__desktop__carousel-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.testimonial__mobile {
  display: inherit;
  place-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.testimonial__mobile__carousel-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 300px;
}
.testimonial__item__desktop-container {
  max-width: 525px;
  text-align: center;
  padding: 60px 40px 10px;
}
.testimonial__item__img {
  position: absolute;
  transform: scale(0.5);
  translate: -72px -130px;
}
.testimonial__item__mobile-container {
  max-width: 300px;
  text-align: center;
  padding-top: 50px;
}

.slider {
  display: flex;
  list-style: none;
  padding: auto;
}

.slider > * {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: hsl(0, 0%, 98%);
}

.testimonial__item__desktop-container p {
  margin-top: 20px;
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0;
  margin-bottom: 50px;
}

.a11y-slider-dots li {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  background: transparent;
  border: 1px solid hsl(12, 88%, 59%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  padding: 0;
}

.a11y-slider-dots li button.active {
  background: hsl(12, 88%, 59%);
}

.cta__desktop {
  background-color: hsl(12, 88%, 59%);
  overflow: hidden;
  height: 200px;
  position: relative;
}
.cta__desktop__content {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
  z-index: 2;
}
.cta__mobile {
  background-color: hsl(12, 88%, 59%);
  overflow: hidden;
  height: 400px;
  position: relative;
}
.cta__mobile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 2;
}

.cta__desktop__content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url(../assets/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: center;
  transform: translate(-50%, -50%) translate(-230px, 100px);
  opacity: 0.1;
  z-index: 1;
}

.cta__desktop__content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 300%;
  background-image: url(../assets/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 550px 550px;
  background-position: center;
  opacity: 0.1;
  transform: translate(-50%, -50%) translate(785px, -240px);
  z-index: 1;
}

.cta__desktop__content h2 {
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin: 0;
  max-width: 500px;
}

.cta__mobile__content h2 {
  font-size: 37px;
  font-weight: 600;
  color: white;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 310px;
}

.cta__mobile__content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url(../assets/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center;
  transform: translate(-50%, -50%) translate(-400px, 125px);
  opacity: 0.1;
  z-index: 1;
}

.footer {
  background-color: hsl(233, 12%, 13%);
}
.footer__desktop {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.footer__desktop__media {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__desktop__media__social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__desktop__navigation {
  order: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 180px;
}
.footer__desktop__email {
  order: 3;
}
.footer__desktop__copyright {
  display: flex;
  position: absolute;
  transform: translate(380%, 250%);
}
.footer__mobile {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__mobile__email {
  margin-bottom: 50px;
}
.footer__mobile__navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 80px;
}
.footer__mobile__media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
  height: 100px;
}
.footer__mobile__media__social-links {
  order: 1;
  display: flex;
  flex-direction: row;
  transform: scale(1.5);
  gap: 25px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__mobile__media svg {
  display: block;
  order: 2;
}

.email {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.email__input__desktop {
  height: 43px;
  width: 200px;
  border-radius: 25px;
  border-style: none;
  padding: 0;
  font-family: "Be Vietnam Pro";
  font-size: 13px;
  text-indent: 20px;
}
.email__input__desktop::-moz-placeholder {
  color: hsl(227, 12%, 61%);
}
.email__input__desktop::placeholder {
  color: hsl(227, 12%, 61%);
}
.email__input__desktop:focus {
  outline: none;
}
.email__input__mobile {
  height: 43px;
  width: 240px;
  border-radius: 25px;
  border-style: none;
  padding: 0;
  font-family: "Be Vietnam Pro";
  font-size: 13px;
  text-indent: 20px;
}
.email__input__mobile::-moz-placeholder {
  color: hsl(227, 12%, 61%);
}
.email__input__mobile::placeholder {
  color: hsl(227, 12%, 61%);
}
.email__input__mobile:focus {
  outline: none;
}
.email__error-notification {
  font-family: "Be Vietnam Pro";
  font-size: 10px;
  font-style: italic;
  color: hsl(12, 88%, 59%);
  margin: 5px 21px;
}

.logo-white-text {
  fill: white;
}

.social-media-logo {
  transition: fill 100ms ease-in-out;
}
.social-media-logo:hover {
  fill: hsl(12, 88%, 59%);
  cursor: pointer;
}

.email-submit-button-desktop {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: hsl(12, 88%, 59%);
  border: none;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  height: 43px;
  width: 65px;
  position: relative;
  transition: background-color 300ms ease-in-out;
}
.email-submit-button-desktop::before {
  content: "Go";
  position: relative;
  display: flex;
  justify-content: center;
}
.email-submit-button-desktop::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 239, 235, 0.2);
  opacity: 0;
  transition: opacity 300ms ease;
}
.email-submit-button-desktop:hover::after {
  opacity: 1;
  cursor: pointer;
}

.email-submit-button-mobile {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: hsl(12, 88%, 59%);
  border: none;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  height: 43px;
  width: 80px;
  position: relative;
  transition: background-color 300ms ease-in-out;
}
.email-submit-button-mobile::before {
  content: "GO";
  position: relative;
  display: flex;
  justify-content: center;
}
.email-submit-button-mobile::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 239, 235, 0.2);
  opacity: 0;
  transition: opacity 300ms ease;
}
.email-submit-button-mobile:hover::after {
  opacity: 1;
  cursor: pointer;
}

.notification__hidden {
  display: none;
}
.notification__shown {
  display: block;
}

.error {
  outline: 1px solid hsl(12, 88%, 59%);
  color: hsl(12, 88%, 59%);
}

.footer a {
  color: hsl(0, 0%, 98%);
  font-size: 14px;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.footer a:hover {
  color: hsl(12, 88%, 59%);
  cursor: pointer;
}

.footer p {
  font-family: "Be Vietnam Pro";
  font-size: 13px;
  color: hsl(227, 12%, 61%);
}/*# sourceMappingURL=style.css.map */